<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Slacker News</title>
    <link rel="shortcut icon" href="http://charles.io/images/yc.png">
    <link rel="stylesheet" href="comment_styles.css" type="text/css">
  </head>

  <body>
    <div class='whole_page'>
      <header>
        <img src="http://vladizorov.info/static/images/favicons/ycombinator.ico" id="logo" />
       <a href="index.html"> <h4> Slacker News </h4> </a>
       <nav>
         <ul>
           <li> <a href=""> new </a> | </li>
           <li> <a href=""> comments </a> | </li>
           <li> <a href=""> ask </a> | </li>
           <li> <a href=""> jobs </a> | </li>
           <li> <a href=""> submit </a> </li>
         </ul>
       </nav>
       <a id="login" href=""> login </a>
      </header>
      
      <div class="content">
          <p class="heading"> <span> &#x25b2; </span> <a href="https://www.firebase.com/blog/2013-08-15-firebase-leaves-beta-today.html "> Firebase Leaves Beta Today </a> (firebase.com) </p>

          <p class="subheading"> 63 points by <a href=""> adam </a> 56 minutes ago | <a href="./comments.html"> 3 comments </a> </p>
          
        <form>
          <textarea rows="7" cols="75"> </textarea> <br>
          <button type="add_comment"> add comment </button>
        </form>

        <ul>
          <li>
            <span> &#x25b2; </span> <a href=""> faizan </a> 49 minutes ago | <a href="./index.html"> link </a>
            <p> Bleep blarp bleep </p>
            <a href=""> reply </a>
            <ul>
              <li>
                <span> &#x25b2; </span> <a href=""> helen </a> 42 minutes ago | <a href="./index.html"> link </a>
                <p> Mmm yes yes indeed </p>
                <a href=""> reply </a>
                <ul>
                  <li>
                    <span> &#x25b2; </span> <a href=""> eric </a> 34 minutes ago | <a href="./index.html"> link </a>
                    <p> Harfarblargh! </p>
                    <a href=""> reply </a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>

      </div>

      <footer>
        <hr/>
        <nav> 
          <ul>
           <li> <a href=""> Lists </a> | </li>
           <li> <a href=""> RSS </a> | </li>
           <li> <a href=""> Bookmarklet </a> | </li>
           <li> <a href=""> Guidelines </a> | </li>
           <li> <a href=""> FAQ </a> | </li>
           <li> <a href=""> DMCA </a> | </li>
           <li> <a href=""> News News </a> | </li>
           <li> <a href=""> Feature Requests </a> | </li>
           <li> <a href=""> Bugs </a> | </li>
           <li> <a href=""> Y Combinator </a> | </li>
           <li> <a href=""> Apply </a> | </li>
           <li> <a href=""> Library </a> </li>
         </ul>
         <form>  
           Search:
           <input type="text field" name="search_input">
           </form>
         </form> 
        </nav> 
      </footer>

    </div>
  </body>
</html>